.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
person2_files/

# LaTeX build artifacts
*.aux
*.log
*.out
*.bbl
*.blg

# LaTeX build artefacts
report/*.log
report/*.blg
report/*.aux
report/*.out
report/*.bbl
